body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  text-decoration: underline;
  align-items: center;
  width: 100%;
  z-index: 5;
  background-color: black;


}

.non-header-content {
  padding-top: 69px;
  margin: auto;
}

.header nav {
flex-grow: 1;
text-align: right;
}

nav span {
  padding: 20px 10px;
  text-decoration: underline;
}

}

.header img {
    height: 50px;
    padding-left: 10px;
}

.top-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg")
}

.top-slogan {
  width: 1200px;
  background-color: black;
}

.middle-section {
  width: 1000px;
}

.middle-block {

}

.middle-block-image {
  height: 200px;
  width: 300px;
}

.middle-block-text {

}

.bottom-section {
  height: 500px;
}

.bottom-block {
  width: 300px;
}

.footer-section {
  height: 200px;
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
